/*!*****************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./css/style.css ***!
  \*****************************************************************/
@font-face {
    font-family: 'Comfortaa';
    src: local('Comfortaa'),
    url(../images/Comfortaa-VariableFont_wght.ttf);
}

html {
    font-size: 25px;
    font-family: Comfortaa;
    overflow: hidden;
}

body {
    margin: 0;
}

.app {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    background-color: #76c564;

}

.title {
    display: flex;
    flex-direction: row;
}

.block {
    display: flex;
    align-content: space-between;
    margin-right: 50px;
    margin-left: 50px;
    width: 800px;
    border-radius: 15px;
    background-color: #e9ffea;
}

.block__text{
    width: 600px;
    margin: 20px;
    line-height: 30px;
}

.background__info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #d9ffda;
    border-radius: inherit;
    width: 200px;
    height: 100%;
}

.letter {

}

.active-letter {
    background-color: #2d8843;
    padding: 0 3px;
    border-radius: 3px;
    color: #e9ffea;
}

.wrong-letter {
    background-color: #ee6868;
    padding: 0 3px;
    border-radius: 3px;
    color: #e9ffea;
}

.correct-letter {
    color: darkgreen;
}

.smooth-hide {
    opacity: 0;
    transition: opacity 1500ms;
}

.precision-text {
    font-size: 18px;
    margin-bottom: 0;
}

.velocity-text {
    font-size: 18px;
    margin-bottom: 0;
}

.try-again-button {
    font-family: Comfortaa;
    cursor: pointer;
    border: 1px solid #2d8843;
    color: #2d8843;
    font-weight: bold;
    border-radius: 10px;
    width: 130px;
    height: 40px;
    margin-bottom: 50px;
    margin-left: 30px;
    background-color: transparent;
}

.try-again-button:hover {
    background-color: #2d8843;
    color: #e9ffea;
}

.precision p {
    margin-top: 10px;
}

.precision {
    margin-top: 50px;
    margin-left: 30px;
}

.velocity {
    margin-left: 30px;
}

.velocity p {
    margin-top: 10px;
}

@media (max-width: 900px) {
    .block {
        flex-direction: column;
        width: 700px;
        font-size: 20px;
    }
    .background__info {
        flex-direction: row;
        width: 700px;
        height: 100px;
        align-items: center;
    }
    .precision {
        margin-top: 0;
        margin-left: 20px;
    }
    .velocity {
        margin-left: 0;
    }
    .try-again-button {
        margin-bottom: 0;
        margin-right: 20px;
        margin-left: 0;
    }
    .velocity p {
        margin-top: 10px;
        margin-bottom: 0;
    }
    .precision p {
        margin-top: 10px;
        margin-bottom: 0;
    }
    .precision-text {
        margin-top: 0;
    }
    .velocity-text {
        margin-top: 0;
    }
}

@media (max-width: 800px) {
    .block {
        width: 600px;
        font-size: 18px;
    }
    .block__text {
        width: 550px;
    }
    .background__info {
        width: 600px;
    }
}

/*# sourceMappingURL=main.ac4305fe.css.map*/